<footer class="blog-footer" style="text-align: center; margin-top:5%">
  <p>code owner <a href="https://github.com/adiljearl"> github@adiljearl </a> <a>
      <p>
        <a href="#">Back to top</a>
      </p>
</footer>