<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="/">Home</a>
        <a class="p-2 link-secondary" href="/world">World</a>
        <a class="p-2 link-secondary" href="/gonca">Gonca</a>
        <a class="p-2 link-secondary" href="/bala">Bala</a>
        <a class="p-2 link-secondary" href="/aygul">Aygul</a>
        <a class="p-2 link-secondary" href="/halima">Halima</a>
        <a class="p-2 link-secondary" href="/aslihan">Aslihan</a>
        <a class="p-2 link-secondary" href="/malhun">Malhun</a>
        <a class="p-2 link-secondary" href="/selcan">Selcan</a>
    </nav>
</div>