{{#each posts}}
<div style="width:100%">
    <h1>{{title}}</h1>
    <p>{{body}}</p><a href="/post/{{id}}">Continue...</a>
    <img src="/uploads/{{file}}" class="img-fluid img-thumbnail" alt="Sheep" style="margin-bottom:13%">

</div>
{{/each}}